@page
@model YyCollection.Client.Areas.Identity.Pages.Account.Login

@{
    ViewData["Title"] = null;
}

<div class="container account-login-container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        
    </div>
</div>